* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

body {
  background-image: url(/images/home/GradientBG.jpg);
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
}

.titlePadding {
  display: flex;
  margin-top: 250px;
}

#contacts {
  display: flex;
  gap: 20px;
  padding: 0;
}

a {
  cursor: pointer;
}

.hamburguer {
  display: none;
  cursor: pointer;
}

.navbar-nav {
  gap: 20px;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

#presentation {
  white-space: pre;
}

.span-about-me {
  cursor: pointer;
  padding: 10px;
  max-width: 70%;
  margin-top: 80px;
  text-align: left;
  box-shadow: 5px 5px 26px 0px #000;
  border-radius: 12px;
}

.span-about-me:hover {
  animation: myAnim 2s ease 0s 1 normal none;
  backdrop-filter: blur(5px);
}

#hero {
  margin-top: 200px;
}

@keyframes myAnim {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
#arrow {
  margin-top: 50px;
}

#title-section {
  margin-bottom: 50px;
}

#title-project {
  margin-bottom: 50px;
}

#projects-section {
  display: flex;
  flex-direction: column;
  margin-top: 190px;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project-img-1, .project-img-2 {
  display: flex;
  align-items: end;
  gap: 30px;
}

.project-1, .project-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-img-1:hover, .project-img-2:hover {
  animation: scaleUp 2s ease 0s 1 normal forwards;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@media (max-width: 1199px) {
  .span-about-me {
    min-width: 100%;
  }
}
@media (max-width: 991px) {
  .navbar-nav {
    flex-direction: row;
  }
}
@media (max-width: 768px) {
  #hero {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .photo {
    margin: 50px 0;
  }
  .span-about-me {
    margin: 0 auto;
  }
}
@media (max-width: 375px) {
  #contacts p {
    white-space: pre;
  }
  #contacts {
    display: flex;
    flex-direction: column;
  }
  #links-contact {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
  }
}
@media (max-width: 372px) {
  .photo img {
    max-width: 100%;
  }
}
@media (max-width: 416px) {
  #hero {
    margin: 0 auto;
  }
  #projects {
    justify-content: center;
  }
  .project-img-1 a, .project-img-2 a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 580px) {
  .navbar-nav {
    width: 50%;
  }
}
@media (max-width: 540px) {
  .container01 .container-fluid {
    flex-direction: column;
    justify-content: center;
  }
  .navbar-nav {
    margin: 0 auto;
    justify-content: center;
  }
  .nav-link {
    white-space: pre;
  }
}
#presentation {
  color: #FFFFFF;
  text-shadow: 3px 2px 2px #474747;
}

#name {
  color: #000;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.h1 {
  color: #ffffff;
  text-shadow: 3px 2px 2px #474747;
}

#navItem {
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 2px 2px 2px #474747;
}

#navItem:hover {
  border-bottom: 1px solid #ffffff;
}

.span-about-me span {
  color: #ffffff;
}

.name-project {
  margin: 20px 0;
}

.description-project {
  font-weight: 800;
  max-width: 70%;
  text-align: center;
  margin-bottom: 100px;
}

/*# sourceMappingURL=style.css.map */
