.container00 {
    background-image: url(/images/home/GradientBG.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.titlePadding {
    display: flex;
    margin-top: 250px;
}

#arrow {
    margin-top: 150px;
}


.projects {
    display: flex;
    flex-direction: row;
}